.comments {
  margin: auto;
  /* margin-bottom: 3%; */
  margin-top: 3%;
  width: 75%;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

h1#comment-header {
  text-align: center;
}

span#comment-description {
  display: table;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
}
